/*--- Estilos globales ---*/
html {
    font-size: 62.5%; /* Tamaño de 10 px = 1 rem */
    box-sizing: border-box;
    font-family: var(--fuentePrincipal);
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--fondoCeleste);
}

/*Creamos un contenedor que agrega un espaciado*/
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
    gap: 1rem;
}

a{
    text-decoration-line: none;
}
img {
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.5rem;
}
h4{
    font-size: 2rem;
}
h5{
    font-size: 1.8rem;
}
h6{
    font-size: 1.5rem;
}

ul{
    list-style: none;
}

/*Variables a Utilizar*/
:root{
    --fuentePrincipal: 'Open Sans', sans-serif;
    --impsumBlue:  #153236;
    --azulBoton: #4ABFCE;
    --verdeIniciado: #4EC84C;
    --amarilloNoIniciado: #EFB500;
    --naranjaDetenido: #FB8631;
    --grisFinalizado: #999999;
    --fondoCeleste: #F2FEFF ;
    --fondoAzul: #e3f4f7;
    --borderGris: #214C52;
    --blanco: #ffffff;
}

/* --- Terminan los estilos globales --- */

/*--- Header y Navbar ---*/
.header {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.contenedor-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: var(--impsumBlue);
    padding: 0 10rem;
}
.header-icon{
    max-width: 25rem;
    margin: 0 1rem;
}

/* Estilos a la navbar */
.navbar{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar li{
    display: inline-block;
    margin: 0 1rem;
    padding: 0 0.7rem;
    border-left: 1px solid var(--borderGris);
    border-right: 1px solid var(--borderGris);
}

/* Contenedor padre que alberga logos y busqueda */
.contenedor-busqueda{
    background-color: var(--blanco);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
}

.contenedor-busqueda-izq{
    display: flex;
    padding: 0.5rem;
    gap: 2rem;
    align-items: center;
}

.contenedor-busqueda-izq picture:first-child{
    padding: 1rem 0;
}

.busqueda-resultados h1{
    margin-top: -1rem; /* Margin para posicionar arriba el elemento*/
}

.busqueda-resultados picture{
    display: inline-flex;
    font-size: 1.5rem;
    gap: 0 1rem;
    margin: 0 0.5rem;
}

.contenedor-busqueda-der{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contenedor-busqueda-der input {
    border: none;
}

.input-busqueda{
    display: inline-flex;
    justify-content: space-between;
    background-color: var(--blanco);
    min-width: 295px;
    padding: 1rem 2rem;
    border: 1px solid var(--azulBoton);
    border-radius: 3rem;
}

.btn-search{
    background: none;
    background-image: url(/assets/images/Icons/jam_search.png);
    width: 2.4rem;
    height: 2.4rem;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
}

.input-crear{
    display: inline-flex;
    justify-content: center;
    background-color: var(--azulBoton);
    min-width: 195px;
    padding: 1rem 2rem;
    border: 1px solid var(--azulBoton);
    border-radius: 0.8rem;
}

.btn-crear-proyecto {
    color: var(--blanco);
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
}

.btn-crear-proyecto button {
    background: none;
    background-image: url(./assets/images/Icons/plus-white.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
    border: none;
}

.btn-filtrar, .btn-cerrar{
    background: none;
    border: none;
    cursor: pointer;
}

/* Clases que muestran y ocultan los elementos */

.hidden{
    display: none;
}

.show-element{
    display: block;
}

/*--- Main ---*/

/* Estilos a filtros */

.contenedor-filtros{
    background-color: var(--blanco);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    padding: 1rem 10rem;
    margin: 1rem 0;
}

.contenedor-filtros-header{
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0;
    gap: 1.5rem;
}

.contenedor-inputs-filtros{
    justify-content: space-around;
}

.contenedor-inputs-filtros > label{
    font-size: 1.4rem;
    font-weight: 700;
}

.contenedor-inputs-filtros > select{
    min-width: 18rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--azulBoton);
}

.contenedor-filtros-footer{
    margin: 2rem 0;
    justify-content: flex-end;
}

/* Estilos a los botones */

/*Boton de Limpiar*/
.input-limpiar-filtros{
    display: inline-flex;
    justify-content: center;
    background-color: var(--blanco);
    min-width: 195px;
    padding: 0.5rem 2rem;
    border: 1px solid var(--azulBoton);
    border-radius: 0.8rem;
}

.input-limpiar-filtros a{
    color: var(--azulBoton);
    font-size: 1.4rem;
    font-weight: 600;
}

.btn-limpiar-filtros button{
    background: none;
    background-image: url(./assets/images/Icons/limpiar-blue.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--blanco);
    cursor: pointer;
    min-width: 2.4rem;
    min-height: 2.4rem;
    border: none;
}

/*Boton de Aplicar*/
.input-aplicar-filtros{
    display: inline-flex;
    justify-content: center;
    background-color: var(--azulBoton);
    min-width: 195px;
    padding: 0.5rem 2rem;
    border: 1px solid var(--azulBoton);
    border-radius: 0.8rem;
}

.input-aplicar-filtros a{
    color: var(--blanco);
    font-size: 1.4rem;
    font-weight: 600;
}

.btn-aplicar-filtros button{
    background: none;
    background-image: url(./assets/images/Icons/aplicar-white.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--blanco);
    cursor: pointer;
    min-width: 2.4rem;
    min-height: 2.4rem;
    border: none;
}

.contenedor-busqueda-movil{
    display: none;
}

/*--- Termina estilos de filtros ---*/

/* Estilos a la seccion main */
.contenedor-proyectos-header{
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
}

.contenedor-proyectos-titulo{
    min-height: 2.5rem;
    margin: 3rem 0;
    gap: 1.5rem;
}

.contenedor-proyectos-titulo h4, .contenedor-filtros-header h4{
    color: var(--grisFinalizado);
}

.contenedor-proyectos-filtros{
    margin: 3rem 0;
}

/* Manejo de cards */

.contenedor-cards{
    display: flex;
    justify-content: center;
}

.contenedor-fila{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.card{
    margin: 3rem auto;
    max-height: 32rem;
    max-width: 30rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    background-color: var(--blanco);
    text-align: start;
    cursor: pointer;
}

/* Seteamos el fondo para la imagen */

.card-image{
    min-width: 29rem;
    min-height: 22rem;
    background-image: url(./assets/images/image\ 3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: var(--blanco);
}

.card-image img{
    max-width: 29rem;
    max-height: 23rem;
}

.card-status{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.label-iniciado{
    background-color: var(--verdeIniciado);
    padding: 0.3rem 1.5rem;
    border-radius: 0.3rem;
}

.label-no-iniciado{
    background-color: var(--amarilloNoIniciado);
    padding: 0.3rem 1.5rem;
    border-radius: 0.3rem;
}

.label-detenido{
    background-color: var(--naranjaDetenido);
    padding: 0.3rem 1.5rem;
    border-radius: 0.3rem;
}

.label-finalizado{
    background-color: var(--grisFinalizado);
    padding: 0.3rem 1.5rem;
    border-radius: 0.3rem;
}

.card-fecha, .card-status{
    padding: 1rem 1.5rem;
}

/* Estilos principales a las areas */

.card-fecha{
    display: flex;
    gap: 0.5rem;
}

.card-fecha > h5{
    font-size: 1.4rem;
    font-weight: 400;
}

.card-name{
    padding: 0rem 1rem;
    margin: 7rem 0;
}

.card-title > h4{
    font-size: 1.8rem;
    font-weight: 600;
}

.card-text{
    font-size: 1.4rem;
    font-weight: 400;
}

.card-price-after::after{
    content: '';
    display: block;
    background-color: var(--grisFinalizado);
    max-width: 90%;
    height: 0.1rem;
    margin: -1rem auto;
}

.card-price, .card-extras{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
    padding: 0.5rem 1.5rem;
}

.card-price picture, .card-extras picture{
    display: inline-flex;
    gap: 1rem;
}

.card-price h6, .card-extras h6{
    font-size: 1.4rem;
    font-weight: 400;
}

/*--- Sección preguntas ---*/

.section-preguntas{
    display: flex;
    justify-content: flex-end;
    padding: 0 8rem;
    margin: 1rem 0;
}

/*--- Footer ---*/

.footer{
    background-color: var(--impsumBlue);
    max-width: 100%;
    height: 2rem;
}

/*--- MediaQuerys ---*/

@media (max-width: 1200px ) {
    .contenedor-fila {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .contenedor-busqueda {
        background-color: var(--blanco);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
    }

    .contenedor-busqueda-izq{
        min-width: 6rem;
    }

    .contenedor-busqueda-der{
        min-width: 6rem;
    }

    .input-busqueda, .input-crear{
        min-width: 6rem;
    }
}

@media (max-width: 1024px ) {
    .contenedor-busqueda{
        display: none;
    }

    .contenedor-filtros{
        padding: 1rem 2rem;
    }

    .contenedor-inputs-filtros{
        display: block;
        text-align: center;
        padding: 2rem;
    }

    .contenedor-inputs-filtros select{
        margin: 2rem;
    }

    /* Clases agregadas para la barra movil */
    .contenedor-busqueda-movil{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
    }

    .contenedor-input-busqueda-izq {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

@media (max-width: 765px ) {
    .contenedor-header{
        padding: 0 2rem;
    }

    .contenedor-busqueda{
        display: none;
    }

    .contenedor-filtros-header h3{
        font-size: 1.5rem;
    }

    .contenedor-proyectos-titulo {
        display: inline-flex;
    }

    .contenedor-proyectos-titulo > h3, h4{
        font-size: 1.5rem;
    }

    .input-limpiar-filtros, .input-aplicar-filtros {
        min-width: auto;
    }

    .contenedor-fila {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .contenedor-proyectos-header {
        padding: 0 2rem;
    }

    /* Clases agregadas para la barra movil */

    .contenedor-busqueda-movil{
        display: block;
        margin: 0 auto;
        padding: 1rem;
    }

    .contenedor-input-busqueda-izq{
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        gap: 1rem;
    }

    .contenedor-input-busqueda-der{
        display: grid;
        margin: 1rem 0;
        padding: 0 2rem;
    }

}